*{
    box-sizing: border-box;
}
header{
    position: absolute;
    display: flex;
    background-color: #222222;
    width: 100%;
    height: 100px;
    top: 0%;
    right: 0%;
    left: 0%;
}
.home li{
    display: inline;
    padding-right: 10px;
    font-size: medium;

}
.home{
    padding: 3% 0% 5% 60%;
    color: white;
}
.cardapio{
    position: absolute;
    width: 600px;
    height: 400px;
    right: 19px;
    top: 135px;
    background: #bb4444;
    border-radius: 5px;
}
.promocao{
    background-image: url(imagens/WhatsApp\ Image\ 2022-08-30\ at\ 21.35.47.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 19px;
    top: 135px;
    border-radius: 5px;
}
footer{
    position: absolute;
    width: 100%;
    height: 120px;
    background: #222222;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
.pe li{
    display: block;
}